*{
	box-sizing: border-box;
}
.container {
	background-color: #7f8c8d;
	margin: auto;
	height:100000px;
	float:left;
}

.section-header-format {
	border-bottom: solid 1px #bdc3c7;
	padding-top: 3%;
	padding-bottom: 1%;
}

.bodybuilder {
	text-align: left;
	background-color: #ecf0f1;
	/*max-width: 33%;*/
}

.padder {
	padding: 2%;
}

.header{
	padding: 20% 0% 2% 1%;
	text-align: bottom;
	background-color: #2ecc71;
	margin: 0;
	color: white;
	border-bottom: solid 5px #27ae60;
}

.sub-section{
	padding: 0% 2%;
}

.head-spacer{
	padding: 5% 0%;
}
.navbar{
	background-color: #34495e;
	text-align: right;
	border-bottom: solid 5px #2c3e50;
	padding: 10px;
	position: inline-block;
	display: absolute;
}

.navbar a {
	color: white;
	text-decoration: none;
	font-size: 12px;
	padding-left: 2%;
	padding-right: 2%;
}

.content-padder {
	padding: 2%;
}

.table-style {
	border: solid 1px #95a5a6;
}

.table-style th{
	border: solid 1px #95a5a6;
	background-color: #bdc3c7;
	text-align: left;
	height: 30px;
	padding-left: 2%;
}

.table-style td{
	border: solid 1px #95a5a6;
	width: 45%;
	text-align: left;
	padding:2%;
}

.table-style td:first-child{
	width: 6%;
	padding: 2%;
}

.table-style td:last-child{
	width: 10%;
	padding: 2%;
}

.table-button {
	color: #ecf0f1;
	background-color: #3498db;
	border:hidden;
	font-size: 12px;
	padding: 5px 20px 5px 20px;
}

.shadow-box {
	background-color: #bdc3c7;
	text-align: left;
	width: 100%;
	height: 100px;
}

.centerizer {
	padding: 3%;
}

.nudger {
	padding-left: 2%;
}

.center-image {
	width:100%;
}


.author-tag {
	color: #bdc3c7;
	padding-top: 5%;
	padding-bottom: 5%;
}

.pad-height {
	padding: 2% 0%;
}

.user-table {
	width: 90%;
}

.textbox {
	border: 1px solid #bdc3c7;
	width: 70%;
	background-color: white;
}

.columnrow {
	overflow: hidden;
}

.submit-button {
	width: 100%;
	color: white;
	background-color: #c0392b;
	border:hidden;
	font-size: 12px;
	padding: 2%;
	margin-bottom: 6%
}

.comment-box {
	width: 100%;
	height: auto;
	background-color: white;
	padding: 20% 30% 20% 30%;
	margin-bottom: 8%;
	border: solid 1px #7f8c8d;
}

[class ^="col-"]{
	float:left;
	min-height: 40px;
}

.right {
	float:right;
}

.col-1-3 {
	width: 33.3333333%;
}

.col-2-3 {
	width: 66.6666667%;
}